* {
    /* background-color: rgb(32, 32, 32); */
    color: white;
    font-family: 'Helvetica','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    /* text-align: center; */
    
}

header {
    position:fixed;
    background-color: rgb(32, 32, 32);
    text-align: center;  
    padding:0 10% 0 10%;
    /* width: 60%; */
    z-index: 1;
}

body {
    background-color: rgb(32, 32, 32);
    margin: 0;
}

main {
    padding-top: 170px;
}

h1, h2, main p {
    background-color: rgb(32, 32, 32);
    color: rgb(186, 25, 201);
    /* padding-top: 10px; */

}

.container h2 {
    position: absolute;
  left: 20px;
  top: -50px;

    /* display: inline-block; */
    border-width: 2px;
    border-style:solid;
    border-color: white;
    padding: 2px 10px 2px 10px;
    min-width: 250px;
    border-radius: 5px;
    /* text-align: center; */
    transition: all 0.5s ease-in-out; 

    
}
.container h2:hover { 
    box-shadow:  0px 0px 10px ;
    text-shadow: 0px 0px 20px;
    /* border-color: rgb(255, 0, 0); */
    color: rgb(255, 250, 179);
    transition: all 0.5s ease-in-out; 
    /* transition-timing-function: cubic-bezier(0.42,0,0.58,1); */


    
}





main section {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

main section div.container {
    position: relative;
    
    width: 300px;
    /* height: 370px; */
    border-width: 2px;
    border-style:dashed;
    border-color: white;
    margin: 10px;
    margin-top: 30px;
    padding: 0px 10px 10px 10px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

main section div p {
    position: relative;
    /* bottom: 60px; */
    /* height: 50px; */
    /* border: 1px solid; */
    /* display: none; */
    padding-left: 10px;
    padding-right: 10px;
}

code {
    position: relative;
    justify-content: center;
    font-family: "courier";
    font-size: 13px;
    left: 20px;
    /* bottom: 20px; */
    /* height: 210px;  */
    /* display: block; */
    /* z-index: 1; */
}

main section div.code-box {
    display: flex;  
    flex-direction: column;
    position: relative;
    /* left: 10px; */
    /* bottom: 60px; */
    /* width: 280px; */
    /* height: 120px;  */
    /* background-color: rgb(231, 22, 238); */
    justify-content: center;
  
    background-image: linear-gradient(rgba(186, 25, 201, 0.253) 0%, rgb(186, 25, 201) 100%);
    border-radius: 5px;
    /* height: 300px; */
    height: 100%;
    /* max-height: 210px; */
    /* z-index: 0; */
    /* display: none; */
    
}

footer {
    text-align: center;
}

