* {
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
}

h1, h2 {
    color: rgb(201, 25, 201);
}

h2 {
    position: relative;
  left: 20px;
  bottom: 40px;

    /* display: inline-block; */
    border-width: 5px;
    border-style:solid;
    border-color: white;
    padding: 20px 40px 20px 40px;
    width: 170px;
    border-radius: 20px;
    text-align: center;
    
}



main section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

main section div {
    width: 300px;
    height: 300px;
    border-width: 5px;
    border-style:dashed;
    border-color: white;
    margin: 10px;
    margin-top: 30px;
    padding: 0px 10px 10px 10px;
}

